@(tasks: List[models.Task], taskTextForm: Form[models.TextTask], numTaskForm: Form[models.IntTask])

@main() {
    <table style="border: 1px solid black">
        <tr>
            <th>ID</th>
            <th>info</th>
            <th></th>
        </tr>
        @for(task <- tasks) {
        <tr>
            <td>@task.id</td>
            <td>@task.present</td>
            <td>
                <a href="@routes.Application.remove(task.id)">Remove</a>
            </td>
        </tr>
        }
    </table>

    @helper.form(action = routes.Application.add()) {
        @helper.inputText(taskTextForm("id"))
        @helper.inputText(taskTextForm("name"))
        <input type="submit" />
    }
    @helper.form(action = routes.Application.addNull()) {
        <input type="submit" value="null"/>
    }

    @helper.form(action = routes.Application.addInt()) {
        @helper.inputText(numTaskForm("id"))
        @helper.inputText(numTaskForm("val"))
        <input type="submit" value="add int" />
    }
}
